@import url("comm.css");
.container {
  margin: 0;
  display: grid;
  grid-template-columns: 16.375em 1fr;
  /* grid-template-rows: 5.813em 5.188em 4em 4.188em 1fr; */
  grid-template-areas: "sidebar main";
  /* "sidebar main"
    "sidebar main"
    "sidebar main"
    "sidebar main"; */
  /* height: 100vh; */
}
.main {
  grid-area: main;
  grid-template-rows: 5.813em minmax(5.188em, auto) minmax(4em, auto) 4.188em 1fr;
  display: grid;
  grid-template-areas:
    "employees-dashboard"
    "employee-header"
    "alphabetical-filter"
    "filter-menu"
    "employees-details";
}

.sidebar-handle {
  position: absolute;
  right: -0.9em;
  top: 2em;
}

.all-dashboard-selected-menu {
  width: 81.5%;
  border-radius: 7px;
  background-color: #fde9e9;
  padding: 4% 0 4% 7% !important;
  /* margin-left: 1.31em; */
  margin-top: -2px;
  color: #f44848;
}
.selected-menu {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  padding-left: 5% !important;
  padding-top: 4.4%;
  padding-bottom: 4.4%;
  /* font-size: 13px; */
  font-size: small;
  font-weight: 600;
}
.all-dashboard ul li img {
  padding-right: 3%;
}
.all-dashboard-selected-menu li img {
  padding-right: 6.5% !important;
}

.role-management-dashboard-heading {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 11px;
  /* letter-spacing: 1px; */
}
.role-management-dashboard-heading-line {
  background-color: #6b7075;
  height: 1px;
  width: 1rem;
  opacity: 0.3;
  margin: 0;
  /* margin-right: 0.5rem; */
}
.role-management-dashboard p {
  margin-top: 6%;
  font-size: 0.75em;
  vertical-align: middle;
  opacity: 0.5;
  padding-left: 6.5%;
  margin-bottom: 13px;
}
.role-management-dashboard ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 12.4%;
  padding-top: 4.4%;
  padding-bottom: 1.8%;
  /* font-size: 13px; */
  font-size: small;
  font-weight: 600;
  width: 70.8%;
}
.role-management-dashboard ul {
  margin: 0;
  padding: 0;
}
.role-management-dashboard ul li img {
  padding-right: 4%;
}

.roles-selection-menu {
  display: flex;
  flex-direction: row;
}
.roles-selection-menu-icon {
  align-self: center;
  padding-top: 10px;
  width: 11px;
}
.employee-header {
  grid-area: employee-header;
}
.employee-header-container {
  display: flex;
  padding: 0 1.5%;
  flex-wrap: wrap;
  padding-left: 2%;
  align-items: center;
  margin-top: -2px;
  justify-content: space-between;
}
.employee-header-text-content h4 {
  color: #586a7b;
  font-size: medium;
  margin-bottom: 3%;
}
.employee-header-text-content p {
  color: #85929d;
  font-size: medium;
  margin-top: 0;
}
.employee-header-buttons {
  display: flex;
  /* width: 32%; */
  /* position: relative; */
  /* right: -1.7%; */
}
.export-font {
  font-size: x-large;
  margin-right: 5px;
}
.btn-export {
  font-size: small;
  display: flex;
  height: 3em;
  margin-right: 3%;
  justify-content: center;
  font-weight: 500;
  text-align: center;
  align-items: center;
  color: #85929d;
  padding: 0% 7.3%;
  padding-left: 4%;
  background-color: white;
  border: 1px solid #85929d;
}
.btn-add-employee img {
  margin-right: 6px;
}
.btn-add-employee {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-right: 0;
  /* flex-wrap: nowrap; */
  font-size: medium;
  padding: 0% 5.4%;
  width: 16.1em;
  font-weight: 600;
  background-color: red;
}
.alphabetical-filter li:hover {
  background-color: #fc8181;
  color: white; /* Change the background color on hover */
}
.alphabetical-filter {
  grid-area: alphabetical-filter;
  padding: 0 1.5%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.alphabetical-filter li:active {
  background-color: red; /* Change the background color for the selected item */
  color: #ffffff; /* Adjust text color for better visibility */
}
.alphabetical-filter span {
  font-size: 270%;
  width: 2%;
  cursor: pointer;
  margin-right: 2%;
}
.dashboard ul li:hover {
  background-color: #fee9e9;
}
.alphabetical-filter ul {
  display: flex;
  padding-left: 0;
  flex-wrap: wrap;
  width: 97%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.alphabetical-filter ul li {
  cursor: pointer;
  background-color: #eaebee;
  margin: 0.2%;
  padding: 1% 1%;
  font-size: small;
  border-radius: 5px;
  color: #9ca5b4;
}
.highlited-alphabet {
  color: white !important;
  background-color: #f44848 !important;
  margin-left: 5px !important;
  margin-right: 5px !important;
}
/* drop-down-menu-filter */
.filter-dropdowns {
  border: 1px solid #fbc9c9;
  border-radius: 5px;
  cursor: pointer;
  font-size: small;
  color: #606e87;
  padding: 0.6em 0.5em;
  transition: background-color 0.3s ease;
  background-color: white;
}
.filter-dropdowns:focus {
  outline: none;
  /* padding: 1rem 0.7rem; */
  cursor: pointer;
}
/* filter-drop-down-menu-ends */
.filter-menu {
  display: flex;
  grid-area: filter-menu;
  padding: 0 1.5%;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.filter-content {
  /* width: 50%; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter-content img {
  width: 100%;
  height: 15px;
  margin-left: 10px;
}
.filter-menu-container {
  background-color: #fdf2f2;
  display: flex;
  padding: 0.5% 0%;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #fbc9c9;
  border-radius: 7px;
  width: 100%;
}
.filter-selction-menu {
  /* background-color: red; */
  display: flex;
  padding-left: 2%;
  justify-content: space-between;
  align-items: center;
}
.filter-selction-menu div {
  display: flex;
  /* border: 1px solid black; */
  margin-right: 10px;
}
.filter-selction-menu div p {
  color: #f66767;
  font-size: small;
}

.filter-menu-buttons {
  display: flex;
  padding-right: 0.3em;
}
.btn-reset-filter {
  background-color: white;
  color: #f44848;
  border: 1px solid #f44848;
  font-size: small;
  font-weight: 500;
  border-radius: 5px;
  padding: 0.5em 1em;
}
.btn-apply-filter {
  background-color: #f44848;
  color: white;
  /* border: 1px solid #f44848; */
  font-size: small;
  font-weight: 500;
  border-radius: 5px;
  padding: 0.5em 1em;
}
.employees-details {
  grid-area: employees-details;
  padding: 0% 1.5%;
  /* box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.1); */
}
.employees-details-container {
  /* padding: 1% 1.5%; */
  border-radius: 10px;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.1);
}
.employees-details-container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 1.5%;
}
.employees-details-container-header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon-arrow-turn-left--down {
  font-size: 130%;
}
.icon-table-add {
  font-size: 130%;
}
.employees-details-container-header span {
  padding-right: 1%;
}
.btn-delete {
  background-color: #f89191;
  color: white;
  font-size: small;
  font-weight: 500;
  border-radius: 5px;
  padding: 0.5em 1em;
}

/* table css */
table {
  border-collapse: collapse;
  width: 100%;
  font-size: small;
}

th,
td {
  /* border: 1px solid #ddd; */
  border-bottom: 1px solid #dddddd;
  /* padding: 8px; */
  /* padding-left: 0; */
  text-align: left;
  padding: 1% 0%;
  /* margin: 0 3% 0 6%; */
}

th {
  background-color: #fafafc;
  font-size: small;
  text-align: start;

  border-top: 1px solid #dddddd;
  color: #4b5b78;
  align-items: center;
}
th div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
td .user-profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
th span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
td .user-profile h5 {
  margin: 0%;
  font-size: small;
}
td .user-profile p {
  color: #5c6a85;
  font-size: smaller;
  margin: 0%;
}

input[type="checkbox"] {
  margin-right: 5px;
  margin-left: 20%;
  width: 30px;
}
